.container{
    border-bottom: 0.3vmin solid #E5E5E5;
    border-top: 0.3vmin solid #E5E5E5;
    padding-bottom: 20px;
    padding-top: 20px;
}

.descriptionWrapper{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;

    padding-top: 10px;
}

.likeWrapper{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.commonTextStyle{
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    text-transform: uppercase;
    color: #000000;
}

.authorTextStyle{
    font-size: 12px;
}

.likesTextStyle{
    align-items: flex-end;
    font-size: 15px;
    line-height: 10px;
    margin-left: 10px;
}

.img{
    width: 100%;
    height: auto;
}
